## Select your cookie preferences
We use essential cookies and similar tools that are necessary to provide our site and services. We use performance cookies to collect anonymous statistics, so we can understand how customers use our site and make improvements. Essential cookies cannot be deactivated, but you can choose “Customize” or “Decline” to decline performance cookies. If you agree, AWS and approved third parties will also use cookies to provide useful site features, remember your preferences, and display relevant content, including relevant advertising. To accept or decline all non-essential cookies, choose “Accept” or “Decline.” To make more detailed choices, choose “Customize.”
AcceptDeclineCustomize
## Customize cookie preferences
We use cookies and similar tools (collectively, "cookies") for the following purposes.
### Essential
Essential cookies are necessary to provide our site and services and cannot be deactivated. They are usually set in response to your actions on the site, such as setting your privacy preferences, signing in, or filling in forms. 
### Performance
Performance cookies provide anonymous statistics about how customers navigate our site so we can improve site experience and performance. Approved third parties may perform analytics on our behalf, but they cannot use the data for their own purposes.
Allowed
### Functional
Functional cookies help us provide useful site features, remember your preferences, and display relevant content. Approved third parties may set these cookies to provide certain site features. If you do not allow these cookies, then some or all of these services may not function properly.
Allowed
### Advertising
Advertising cookies may be set through our site by us or our advertising partners and help us deliver relevant marketing content. If you do not allow these cookies, you will experience less relevant advertising.
Allowed
Blocking some types of cookies may impact your experience of our sites. You may review and change your choices at any time by selecting Cookie preferences in the footer of this site. We and selected third-parties use cookies or similar technologies as specified in the [AWS Cookie Notice](https://aws.amazon.com/legal/cookies/).
CancelSave preferences
## Unable to save cookie preferences
We will only store essential cookies at this time, because we were unable to save your cookie preferences.If you want to change your cookie preferences, try again later using the link in the AWS console footer, or contact support if the problem persists.
Dismiss
[Skip to main content](https://docs.aws.amazon.com/iot/latest/developerguide/what-is-aws-iot.html#skip-link)
[Developer tools](https://docs.aws.amazon.com/iot/latest/developerguide/what-is-aws-iot.html)
# 
What is AWS IoT?
Focus mode
What is AWS IoT? - AWS IoT Core
[Documentation](https://docs.aws.amazon.com/index.html)[AWS IoT Core](https://docs.aws.amazon.com/iot/index.html)[Developer Guide](https://docs.aws.amazon.com/iot/latest/developerguide/what-is-aws-iot.html)
[How your devices and apps access AWS IoT](https://docs.aws.amazon.com/iot/latest/developerguide/what-is-aws-iot.html#aws-iot-interfaces)
AWS IoT provides the cloud services that connect your IoT devices to other devices and AWS cloud services. AWS IoT provides device software that can help you integrate your IoT devices into AWS IoT-based solutions. If your devices can connect to AWS IoT, AWS IoT can connect them to the cloud services that AWS provides.
For a hands-on introduction to AWS IoT, visit [Getting started with AWS IoT Core tutorials](https://docs.aws.amazon.com/iot/latest/developerguide/iot-gs.html).
With AWS IoT, you can select the most appropriate and up-to-date technologies for your solution. To help you manage and support your IoT devices in the field, AWS IoT Core supports these protocols: 
  * [MQTT (Message Queuing and Telemetry Transport)](https://docs.aws.amazon.com/iot/latest/developerguide/mqtt.html)
  * [MQTT over WSS (Websockets Secure)](https://docs.aws.amazon.com/iot/latest/developerguide/mqtt.html)
  * [HTTPS (Hypertext Transfer Protocol - Secure)](https://docs.aws.amazon.com/iot/latest/developerguide/http.html)
  * [LoRaWAN (Long Range Wide Area Network)](https://docs.aws.amazon.com/iot-wireless/latest/developerguide/what-is-iot-lorawan.html)


The AWS IoT Core message broker supports devices and clients that use MQTT and MQTT over WSS protocols to publish and subscribe to messages. It also supports devices and clients that use the HTTPS protocol to publish messages.
AWS IoT Core for LoRaWAN helps you connect and manage wireless LoRaWAN (low-power long-range Wide Area Network) devices. AWS IoT Core for LoRaWAN replaces the need for you to develop and operate a LoRaWAN Network Server (LNS).
If you don't require AWS IoT features such as device communications, [rules](https://docs.aws.amazon.com/iot/latest/developerguide/iot-rules.html), or [jobs](https://docs.aws.amazon.com/iot/latest/developerguide/iot-jobs.html), see [AWS Messaging](https://aws.amazon.com/messaging/) for information about other AWS IoT messaging services that might better fit your requirements.
## How your devices and apps access AWS IoT
AWS IoT provides the following interfaces for [AWS IoT tutorials](https://docs.aws.amazon.com/iot/latest/developerguide/iot-tutorials.html):
  * **AWS IoT Device SDKs** —Build applications on your devices that send messages to and receive messages from AWS IoT. For more information, see [AWS IoT Device SDKs, Mobile SDKs, and AWS IoT Device Client](https://docs.aws.amazon.com/iot/latest/developerguide/iot-sdks.html).
  * **AWS IoT Core for LoRaWAN** —Connect and manage your long range WAN (LoRaWAN) devices and gateways by using [AWS IoT Core for LoRaWAN](https://docs.aws.amazon.com/iot-wireless/latest/developerguide/what-is-iot-lorawan.html).
  * **AWS Command Line Interface (AWS CLI)** —Run commands for AWS IoT on Windows, macOS, and Linux. These commands allow you to create and manage thing objects, certificates, rules, jobs, and policies. To get started, see the [AWS Command Line Interface User Guide](https://docs.aws.amazon.com/cli/latest/userguide/). For more information about the commands for AWS IoT, see [iot](https://docs.aws.amazon.com/cli/latest/reference/iot/index.html) in the _AWS CLI Command Reference_.
  * **AWS IoT API** —Build your IoT applications using HTTP or HTTPS requests. These API actions allow you to programmatically create and manage thing objects, certificates, rules, and policies. For more information about the API actions for AWS IoT, see [Actions](https://docs.aws.amazon.com//iot/latest/apireference/API_Operations.html) in the _AWS IoT API Reference_.
  * **AWS SDKs** —Build your IoT applications using language-specific APIs. These SDKs wrap the HTTP/HTTPS API and allow you to program in any of the supported languages. For more information, see [AWS SDKs and Tools](http://aws.amazon.com/tools/#sdk).


You can also access AWS IoT through the [AWS IoT console](https://console.aws.amazon.com/iot/home), which provides a graphical user interface (GUI) through which you can configure and manage the thing objects, certificates, rules, jobs, policies, and other elements of your IoT solutions.
[Document Conventions](https://docs.aws.amazon.com/general/latest/gr/docconventions.html)
What AWS IoT can do
Did this page help you? - Yes
Thanks for letting us know we're doing a good job!
If you've got a moment, please tell us what we did right so we can do more of it.
Did this page help you? - No
Thanks for letting us know this page needs work. We're sorry we let you down.
If you've got a moment, please tell us how we can make the documentation better.
  * ### On this page
  * ### Related resources
[AWS IoT Core API Reference](https://docs.aws.amazon.com/iot/latest/apireference/index.html)
[AWS CLI commands for AWS IoT Core](https://docs.aws.amazon.com/cli/latest/reference/iot/)
  * #### Did this page help you?


#### Next topic:
[What AWS IoT can do](https://docs.aws.amazon.com/iot/latest/developerguide/aws-iot-solutions.html)
## AWS IoT connects IoT devices to AWS IoT services
Close
